---
import { stacks } from "@/data/stacks";
import { useTranslate } from "@/i18n/utils";
import MainLayout from "@/layouts/MainLayout.astro";
import ToolCard from "../ToolCard.astro";
import ToolsSection from "../ToolsSection.astro";
import Section from "../Section.astro";

function filterStacks(stacks: any, type: string) {
  return stacks.filter((stack: any) => stack.type === type);
}

const development = filterStacks(stacks, "development");
const workstation = filterStacks(stacks, "workstation");
const productivity = filterStacks(stacks, "productivity");

const lang = Astro.currentLocale as string;
const t = useTranslate(lang);
---

<MainLayout
  title={t("RECOMMENDATIONS_TITLE")}
  description={t("RECOMMENDATIONS_DESCRIPTION")}
>
  <h1
    class="md:text-3xl text-2xl font-bold mb-8 md:mb-4 dark:text-amber-200/90 text-yellow-600"
  >
    {t("RECOMMENDATIONS_TITLE")}
  </h1>
  <h2 class="mb-6">{t("RECOMMENDATIONS_DESCRIPTION")}</h2>

  <div class="my-10 space-y-6">
    <ToolsSection title={t("WORKSTATION_TEXT")}>
      {
        workstation.map((stack: any) => (
          <ToolCard
            title={stack.title}
            href={stack.link}
            description={stack.info[lang]}
            image={stack.img}
          />
        ))
      }
    </ToolsSection>
    <ToolsSection title={t("DEVELOPMENT_TEXT")}>
      {
        development.map((stack: any) => (
          <ToolCard
            title={stack.title}
            href={stack.link}
            description={stack.info[lang]}
            image={stack.img}
          />
        ))
      }
    </ToolsSection>
    <ToolsSection title={t("PRODUCTIVITY_TEXT")}>
      {
        productivity.map((stack: any) => (
          <ToolCard
            title={stack.title}
            href={stack.link}
            description={stack.info[lang]}
            image={stack.img}
          />
        ))
      }
    </ToolsSection>
  </div>
</MainLayout>
