---
import { stacks } from "../../data/stacks";
import { useTranslate } from "../../i18n/utils";
import MainLayout from "../../layouts/MainLayout.astro";
import ToolCard from "../ToolCard.astro";
import ToolsSection from "../ToolsSection.astro";

function filterStacks(stacks: any, type: string) {
  return stacks.filter((stack: any) => stack.type === type);
}

const development = filterStacks(stacks, "development");
const workstation = filterStacks(stacks, "workstation");
const productivity = filterStacks(stacks, "productivity");

const lang = Astro.currentLocale as string;
const t = useTranslate(lang);
---

<MainLayout
  title={t("RECOMMENDATIONS_TITLE")}
  description={t("RECOMMENDATIONS_DESCRIPTION")}
  isMain={false}
>
  <div class="my-10 space-y-8">
    <ToolsSection title={t("WORKSTATION_TEXT")}>
      {
        workstation.map((stack: any) => (
          <ToolCard
            title={stack.title}
            href={stack.link}
            description={stack.info[lang]}
            image={stack.img}
          />
        ))
      }
    </ToolsSection>
    <ToolsSection title={t("DEVELOPEMENT_TEXT")}>
      {
        development.map((stack: any) => (
          <ToolCard
            title={stack.title}
            href={stack.link}
            description={stack.info[lang]}
            image={stack.img}
          />
        ))
      }
    </ToolsSection>
    <ToolsSection title={t("PRODUCTIVITY_TEXT")}>
      {
        productivity.map((stack: any) => (
          <ToolCard
            title={stack.title}
            href={stack.link}
            description={stack.info[lang]}
            image={stack.img}
          />
        ))
      }
    </ToolsSection>
  </div>
</MainLayout>
