---
import TimeLine from "../../components/TimeLine.astro";
import { resume } from "../../data/resume";
import { useTranslate } from "../../i18n/utils";
import MainLayout from "../../layouts/MainLayout.astro";

const { education, experience, skills } = resume;

const lang = Astro.currentLocale as "en" | "es";
const t = useTranslate(lang);
---

<MainLayout
  title={t("RESUME_TITLE")}
  description={t("RESUME_DESCRIPTION")}
  isMain={false}
>
  <section class="grid grid-cols-1 gap-y-4 md:grid-cols-5 mt-16">
    <h2 class="text-3xl font-semibold mt-0">{t("EXPERIENCE_TEXT")}</h2>
    <div class="md:col-span-4 space-y-6">
      <div class="time-line-container grid gap-4 mb-10">
        {
          experience.map(({ title, start, description, company }) => (
            <TimeLine title={`${start}, ${title}`} subtitle={company[lang]}>
              {description[lang]}
            </TimeLine>
          ))
        }
      </div>
    </div>
  </section>

  <section class="grid grid-cols-1 gap-y-4 md:grid-cols-5">
    <h2 class="text-3xl font-semibold mt-0">{t("EDUCATION_TEXT")}</h2>
    <div class="md:col-span-4">
      <div class="time-line-container grid gap-4 mb-10">
        {
          education.map(({ title, start, end, place, country }) => (
            <TimeLine
              title={title}
              subtitle={"${}"}
              subtitle={`${start} - ${end}, ${place}, ${country}`}
            />
          ))
        }
      </div>
    </div>
  </section>

  <section class="grid grid-cols-1 gap-y-4 md:grid-cols-5">
    <h2 class="text-3xl font-semibold mt-0">{t("SKILLS_TEXT")}</h2>
    <div class="md:col-span-4">
      <div class="grid md:grid-cols-4 grid-cols-2 text-lg gap-4 ml-10">
        {
          skills.map(({ title }) => (
            <div class="p-4 bg-gray-500/10 backdrop-blur-[2px] border border-neutral-400/10 rounded-xl">
              {title}
            </div>
          ))
        }
      </div>
    </div>
  </section>
</MainLayout>
