---
import { getCollection } from "astro:content";
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";

const projects = (await getCollection("projects")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<MainLayout
	title="Mis proyectos"
	description="Estos son algunos de los proyectos en los que he trabajado y de los que mas orgulloso me siento."
	isMain={false}
>
	<div
		class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-10 gap-3 md:gap-5"
	>
		{
			projects.map((project) => (
				<article class="w-full bg-gray-700/40 rounded-2xl p-4 flex flex-col justify-between group hover:shadow-2xl transition-all duration-500">
					<img
						class="rounded-xl min-h-40 sm:min-h-48 lg:min-h-40 group-hover:scale-105 transition-duration duration-500 mb-4"
						width={720}
						height={360}
						src={project.data.heroImage}
						alt={project.data.title}
						transition:name={project.data.heroImage}
					/>

					<h4
						transition:name={project.data.title}
						class="m-0 text-lg text-white"
					>
						{project.data.title}
					</h4>

					<p class="m-0 mt-3 text-base text-neutral-400 text-pretty">
						{project.data.description}
					</p>

					<div class="w-full flex gap-2 mt-8">
						<Button href={project.data.webpage} text={project.data.title} />
					</div>
				</article>
			))
		}
	</div>
</MainLayout>
