---
import ToolCard from "../components/ToolCard.astro";
import ToolsSection from "../components/ToolsSection.astro";
import { stacks } from "../data/stacks";
import MainLayout from "../layouts/MainLayout.astro";

function filterStacks(stacks: any, type: string) {
	return stacks.filter((stack: any) => stack.type === type);
}

const development = filterStacks(stacks, "development");
const workstation = filterStacks(stacks, "workstation");
const productivity = filterStacks(stacks, "productivity");
---

<MainLayout
	title="Mis recomendaciones"
	description="El software que uso, las cosas que uso para desarrollar, mantenerme productivo y pensar que estoy siendo productivo cuando en realidad solo estoy procrastinando"
	isMain={false}
>
	<div class="my-10 space-y-8">
		<ToolsSection title="Workstation">
			{
				workstation.map((stack: any) => (
					<ToolCard
						title={stack.title}
						href={stack.link}
						description={stack.info}
						image={stack.img}
					/>
				))
			}
		</ToolsSection>
		<ToolsSection title="Desarrollo">
			{
				development.map((stack: any) => (
					<ToolCard
						title={stack.title}
						href={stack.link}
						description={stack.info}
						image={stack.img}
					/>
				))
			}
		</ToolsSection>
		<ToolsSection title="Productividad">
			{
				productivity.map((stack: any) => (
					<ToolCard
						title={stack.title}
						href={stack.link}
						description={stack.info}
						image={stack.img}
					/>
				))
			}
		</ToolsSection>
	</div>
</MainLayout>
