---
import TimeLine from "../components/TimeLine.astro";
import { resume } from "../data/resume";
import MainLayout from "../layouts/MainLayout.astro";

const { profile, education, experience, certifications, skills } = resume;
---

<MainLayout
	title="Mi currículum"
	description="Aqui puedes ver toda mi experiencia profesional o los prouectos con los que he trabajado"
	isMain
>
	<h3 class="text-3xl w-full font-bold mt-0 mb-5">Acerca de mi</h3>
	<p class="mb-10 text-lg text-neutral-300">{profile}</p>

	<h3 class="text-3xl w-full font-bold mb-5">Educacion</h3>
	<div class="time-line-container grid gap-4 mb-10">
		{
			education.map(({ title, start, end, place, city, country }) => (
				<TimeLine
					title={title}
					subtitle={"${}"}
					subtitle={`${start} - ${end}, ${place}, ${city}, ${country}`}
				/>
			))
		}
	</div>

	<h3 class="text-3xl w-full font-bold mb-5">Experiencia</h3>
	<div class="time-line-container mb-10">
		{
			experience.map(({ title, description }) => (
				<TimeLine
					title={title}
					subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
				>
					{description}
				</TimeLine>
			))
		}
	</div>

	<h3 class="text-3xl w-full font-bold mb-5">Certificaciones</h3>
	<ul class="list-disc mx-6 mb-10 grid gap-2 text-lg text-neutral-400">
		{
			certifications.map(({ title, link }) => (
				<li>
					<a href={link} target="_blank">
						{title}
					</a>
				</li>
			))
		}
	</ul>

	<h3 class="text-3xl w-full font-bold mb-5">Habilidades</h3>
	<ul
		class="list-disc mx-6 grid md:grid-cols-4 grid-cols-1 text-lg text-neutral-400"
	>
		{skills.map(({ title }) => <li>{title}</li>)}
	</ul>
</MainLayout>
