---
import Card from "./Card.astro";

const lang = Astro.currentLocale === "es" ? "es" : "en";

const { project } = Astro.props;
---

<Card
  class="flex group flex-col md:bg-neutral-700/10 p-4 justify-between gap-4 min-w-96 md:first:ml-4 md:last:mr-4"
>
  <a class="absolute inset-0" href={project.webpage}></a>
  <img class="rounded-xl" src={project.heroImage} alt={project.title} />

  <h2 class="text-lg md:text-xl font-bold text-white group-hover:underline">
    {project.title}
  </h2>

  <p>{project.description[lang]}</p>

  <div class="flex flex-wrap gap-2">
    {
      project.tags.map((tag: any) => (
        <Card class="flex items-center gap-1 rounded-full px-2 py-1">
          <tag.icon class="size-4" />
          <span class="text-xs">{tag.name}</span>
        </Card>
      ))
    }
  </div>
</Card>
