---
import Card from "./Card.astro";

interface Props {
  title: string;
  description: string;
  href: string;
  image: string;
}

const { title, description, href, image } = Astro.props;
---

<Card id="tool-card" class="flex flex-col md:gap-4 md:flex-row p-6 py-4">
  <img src={image} alt={title} class="sm:size-20 size-14" />

  <div>
    <h2 class="text-lg font-semibold">
      <a href={href}>
        <span class="absolute z-20 -inset-y-6 -inset-x-4"></span>
        <span class="relative z-10 group-hover:underline">{title}</span>
      </a>
    </h2>
    <p class="mt-2 leading-7">{description}</p>
  </div>
</Card>

<style>
  #tool-card {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
  }

  @keyframes reveal {
    from {
      opacity: 0.3;
      translate: 0 70px;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>
